{% load static %} 

<html>
    <head>
        <title>{{site_name}} | {% block title_block %} {% endblock title_block %}</title>
    
        <!-- Adding out styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

        <base href="/">
    </head>
    
    <body>
        <header>
              {% block header %}
              {% endblock %}
        </header>

        <main>
            {% block content_block %} 
            <!-- our main content depends on what we want to show -->
            {% endblock content_block %}
        </main>

        <footer>
            
        </footer>

        <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/proper.min.js' %}"></script>
    </body>
</html>