{% extends 'header_template.html' %}

{% load static %} 
{% block title_block %} Techuo {% endblock title_block %}

{% block content_block %} 

<div class="row">
    <div class="col-md-12">
        <h1 class="display-4"><b>{{post.heading}}</b></h1>
    </div>
    <div class="col-md-auto">
        <img class="img-fluid" alt="Responsive image" src="{{post.image.name}}" /> 
        
    </div>
    <div class="col-md-12">
        {{post.body|safe}}
    </div>

    <div class="col-md-12 jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h3><b>Author Details</b></h3>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" alt="Responsive image" src="{{post.author.profile_pic.name}}" /> 
            </div>
            <div class="col-md-auto">
                <h1 class="display-4">{{post.author.user.first_name}} {{post.author.user.last_name}}</h1>
                <p class="lead">{{post.author.description}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content_block %}